.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-justify {
  justify-content: space-between;
}
.flex-vertical-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.pull-right {
  float: right;
}
.mr-10 {
  margin-right: 10px;
}
.pointer {
  cursor: pointer;
}
