@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../../../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../../fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../../../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-RegularItalic.eot');
  src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url('../../../fonts/Roboto/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-RegularItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-RegularItalic';
  src: url('../../../fonts/Roboto/Roboto-RegularItalic.eot');
  src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url('../../../fonts/Roboto/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-RegularItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'), url('../../../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Light.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../../../fonts/Roboto/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'), url('../../../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Light.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-LightItalic.eot');
  src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url('../../../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-LightItalic.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../../../fonts/Roboto/Roboto-LightItalic.eot');
  src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url('../../../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-LightItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../../../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Thin.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Thin.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Thin.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../../../fonts/Roboto/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../../../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Thin.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Thin.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Thin.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-ThinItalic.eot');
  src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url('../../../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-ThinItalic.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../../../fonts/Roboto/Roboto-ThinItalic.eot');
  src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url('../../../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-ThinItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../../../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Medium.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Medium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../../fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../../../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Medium.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Medium.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-MediumItalic.eot');
  src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url('../../../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-MediumItalic.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../../../fonts/Roboto/Roboto-MediumItalic.eot');
  src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url('../../../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-MediumItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../../../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Bold.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../../fonts/Roboto/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../../../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Bold.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-BoldItalic.eot');
  src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url('../../../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-BoldItalic.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../../../fonts/Roboto/Roboto-BoldItalic.eot');
  src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url('../../../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-BoldItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Black.eot');
  src: local('Roboto Black'), local('Roboto-Black'), url('../../../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Black.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Black.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Black.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Black.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../../../fonts/Roboto/Roboto-Black.eot');
  src: local('Roboto Black'), local('Roboto-Black'), url('../../../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-Black.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-Black.woff') format('woff'), url('../../../fonts/Roboto/Roboto-Black.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-Black.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-BlackItalic.eot');
  src: local('Roboto BlackItalic'), local('Roboto-BlackItalic'), url('../../../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-BlackItalic.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../../../fonts/Roboto/Roboto-BlackItalic.eot');
  src: local('Roboto BlackItalic'), local('Roboto-BlackItalic'), url('../../../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../../../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('../../../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('../../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), url('../../../fonts/Roboto/Roboto-BlackItalic.svg#Roboto') format('svg');
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-justify {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.flex-vertical-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.mr-10 {
  margin-right: 10px;
}
.pointer {
  cursor: pointer;
}
.border-radius {
  border-radius: 4px;
}
.border-top-radius {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.border-bottom-radius {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin-top: 0;
  font: normal 16px/1.5 'Roboto', sans-serif;
  color: #333;
  background-color: #fff;
}
body.help {
  background-color: #02a8f3;
}
body.test {
  background-color: #ffb9b3;
  background-image: url('../img/symphony.jpg');
}
p {
  font-size: 16px;
}
p.phone {
  font-size: 24px;
  font-weight: 300;
}
a {
  font-size: 16px;
  color: #ff5252;
}
.large {
  font-size: 1.125em;
}
span.accent {
  color: #ff5252;
}
.container {
  margin: 0 auto;
}
.container--big {
  max-width: 980px;
}
.container--small {
  max-width: 720px;
}
header {
  display: block;
  height: 150px;
  padding-top: 22px;
  background-color: #02a8f3;
}
header a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header p {
  font-weight: 300;
  color: #fff;
}
.logo {
  display: inline-block;
  margin-bottom: 10px;
}
.main {
  padding: 50px 0 60px;
}
.mdl-button {
  color: #616161;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: #ff5252;
}
/* Test cards */
@media (max-width: 932px) {
  .cards {
    justify-content: center !important;
  }
}
.card-wrapper {
  flex-basis: 466px;
  min-width: 466px;
}
.card {
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
}
.card__title {
  position: absolute;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  padding: 0 26px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
}
.card__title i {
  font-size: 46px;
}
.card-container,
.front,
.back {
  height: auto;
  min-height: 247px;
}
.front {
  cursor: pointer;
}
.back {
  padding: 26px;
}
/* Social buttons */
.social {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social .mdl-button {
  min-width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 8px;
  color: #fff;
}
.social .vk {
  background: #02a8f3 url('../img/vk.png') no-repeat center center;
}
.social .fb {
  background: #02a8f3 url('../img/fb.png') no-repeat center center;
}
.social p {
  margin-bottom: 0;
}
.social a {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}
/* Button 'Previous page' */
a.prev {
  margin: 16px 0 16px 16px;
  color: #fff;
}
.panel {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.panel .panel__title {
  padding: 20px 25px;
  background-color: #fafafa;
  font-size: 20px;
  font-weight: normal;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.panel .panel__body {
  position: relative;
  padding-bottom: 20px;
}
.panel .panel__body p {
  margin: 0;
}
.panel .panel__body .section {
  padding: 20px 25px;
}
.panel .panel__body .section:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
.panel .panel__body .next {
  position: absolute;
  right: 35px;
  top: -30px;
}
footer {
  display: block;
  padding: 10px 20px;
  margin-top: 40px;
  background-color: #fff;
  border-top: 4px solid #ff5252;
}
.test {
  min-height: 100vh;
  padding-bottom: 100px;
}
.test .panel .panel__title {
  background-color: #ff5252;
  color: #fff;
  font-size: 20px;
  min-height: 140px;
}
.test .panel .mdl-button--fab {
  background: #f5f5f5;
}
.test .panel .section button {
  margin-left: 20px;
  margin-top: 10px;
}
.test .panel .result {
  padding: 20px 25px;
  font-size: 14px;
}
.test footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 720px;
}
.test footer .help-link {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
/* Material lite input */
.mdl-textfield__input {
  line-height: 1.5;
}
