.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-justify {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.flex-vertical-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.mr-10 {
  margin-right: 10px;
}
.pointer {
  cursor: pointer;
}
.border-radius {
  border-radius: 4px;
}
.border-top-radius {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.border-bottom-radius {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin-top: 0;
  font: normal 16px/1.5 'Roboto', sans-serif;
  color: #333;
  background-color: #eee;
}
body.help {
  background-color: #02a8f3;
}
body.test {
  background-color: #ffb9b3;
}
p {
  font-size: 16px;
}
p.phone {
  font-size: 24px;
  font-weight: 300;
}
a {
  font-size: 16px;
  color: #ff5252;
}
.large {
  font-size: 1.125em;
}
span.accent {
  color: #ff5252;
}
.container {
  margin: 0 auto;
}
.container--big {
  max-width: 980px;
}
.container--small {
  max-width: 720px;
}
header {
  display: block;
  height: 150px;
  padding-top: 22px;
  background-color: #02a8f3;
}
header a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header p {
  font-weight: 300;
  color: #fff;
}
.logo {
  display: inline-block;
  margin-bottom: 10px;
}
.main {
  padding: 50px 0 60px;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: #ff5252;
}
/* Test cards */
@media (max-width: 932px) {
  .cards {
    justify-content: center !important;
  }
}
.card-wrapper {
  flex-basis: 466px;
  min-width: 466px;
}
.card {
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
}
.card__title {
  position: absolute;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  padding: 0 26px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 22px;
  line-height: 1;
}
.card__title i {
  font-size: 46px;
}
.card-container,
.front,
.back {
  height: auto;
  min-height: 247px;
}
.front {
  cursor: pointer;
}
.back {
  padding: 26px;
}
/* Social buttons */
.social {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social .mdl-button {
  min-width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 8px;
  color: #fff;
}
.social .vk {
  background: #02a8f3 url('../img/vk.png') no-repeat center center;
}
.social .fb {
  background: #02a8f3 url('../img/fb.png') no-repeat center center;
}
.social p {
  margin-bottom: 0;
}
.social a {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}
/* Button 'Previous page' */
a.prev {
  margin: 16px 0 0 16px;
}
.panel {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.panel .panel__title {
  padding: 20px 25px;
  background-color: #fafafa;
  font-size: 20px;
  font-weight: normal;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.panel .panel__body {
  padding-bottom: 20px;
}
.panel .panel__body p {
  margin: 0;
}
.panel .panel__body .section {
  padding: 20px 25px;
}
.panel .panel__body .section:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
footer {
  display: block;
  padding: 10px 20px;
  margin-top: 40px;
  background-color: #fff;
  border-top: 4px solid #ff5252;
}
