<header class="mdl-shadow--2dp">
  <div class="container container--big">
    <div class="pull-left">
      <a href="#/" class="logo"><img src="../img/logo_charmalarm.png" alt="Шарм Аларм"></a>
      <p>тесты и опросы для девушек</p>
    </div>
    <a href="#/help" class="text-uppercase pull-right">Помощь</a>
  </div>
</header>
<div class="container container--big main">
  <p class="text-center">Ищешь совета об отношениях, работе или просто поведении в разных жизненных ситуациях?<br>
    Пройди наши тесты, и получи полезную информацию, которая пригодится тебе в жизни.</p>
  <div class="cards flex flex-justify flex-wrap">
    <div ng-repeat="test in main.tests" class="card-wrapper">

      <div class="card-container manual-flip" ng-class="{hover: main.isCurrentTest(test.id)}">
        <div class="card mdl-shadow--2dp">
          <div class="front" ng-click="main.testChoice(test.id, 'open')">
            <img src="{{test.img}}" alt="{{test.title}}">
            <div class="card__title">
              <span>{{test.title}}</span>
              <i class="material-icons">navigate_next</i>
            </div>
          </div> <!-- end front panel -->
          <div class="back">
            <div class="text-right">
              <i class="material-icons pointer" ng-click="main.testChoice(test.id, 'close')">close</i>
            </div>
            <p>{{test.description}}</p>
            <div class="text-right">
              <!-- Accent-colored raised button with ripple -->
              <a href="#/test" class="mr-10 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Пройти тест
              </a>
              <!-- Icon button -->
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                <i class="material-icons">share</i>
              </button>
            </div>
          </div> <!-- end back panel -->
        </div> <!-- end card -->
      </div>

    </div>
  </div>

  <social-buttons></social-buttons>
</div>