<a href="#/" class="mdl-button mdl-js-button mdl-button--icon prev">
  <i class="material-icons">arrow_back</i>
</a>

<div class="container container--small">

  <div class="panel">
    <div class="panel__title" ng-hide="test.isCompleted">{{test.question()}}</div>
    <div class="panel__body">

      <div class="result" ng-show="test.isCompleted" ng-bind-html="test.result"></div>

      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect next" ng-show="test.isSpecialQuestion()"  ng-click="test.testContinue(inputValue)">
        <i class="material-icons">navigate_next</i>
      </button>

      <div class="section text-center" ng-hide="test.isCompleted">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect text-uppercase" ng-hide="test.isSpecialQuestion()" ng-click="test.testContinue('no')">
          нет
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect text-uppercase" ng-hide="test.isSpecialQuestion()" ng-click="test.testContinue('yes')">
          да
        </button>
        <input type="text" ng-show="test.isSpecialQuestion()" ng-model="inputValue">
      </div>


    </div>
  </div>

  <footer>
    <a href="#/help" class="text-uppercase pull-left help-link">Помощь</a><social-buttons></social-buttons>
  </footer>

</div>